<main>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/recursos/logoSinFondo.png" alt="Logo" height="50">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0"> 
                    <li class="nav-item has-sub">
                        <a class="nav-link" href="#">Lo Nuevo</a>
                        <ul class="sub">
                            <li><a href="#">Lanzamientos</a></li>
                            <li><a href="#">Colecciones</a></li>
                            <li><a href="#">Ofertas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item has-sub">
                        <a class="nav-link" href="#">Hombre</a>
                        <ul class="sub">
                            <li><a href="#">Playeras</a></li>
                            <li><a href="#">Sudaderas</a></li>
                            <li><a href="#">Pants</a></li>
                            <li><a href="#">Short</a></li>
                        </ul>
                    </li>
                    <li class="nav-item has-sub">
                        <a class="nav-link" href="#">Mujer</a>
                        <ul class="sub">
                            <li><a href="#">Playeras</a></li>
                            <li><a href="#">Sudaderas</a></li>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Pants</a></li>
                            <li><a href="#">Short</a></li>
                            <li><a href="#">faldas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item has-sub">
                        <a class="nav-link" href="#">Niño/a</a>
                        <ul class="sub">
                            <li><a href="#">Playeras</a></li>
                            <li><a href="#">Sudaderas</a></li>
                            <li><a href="#">Pants</a></li>
                            <li><a href="#">Short</a></li>
                        </ul>
                    </li>
                    <li class="nav-item has-sub">
                        <a class="nav-link" href="#">Ofertas</a>
                        <ul class="sub">
                            <li><a href="#">Playeras</a></li>
                            <li><a href="#">Sudaderas</a></li>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Pants</a></li>
                            <li><a href="#">Short</a></li>
                            <li><a href="#">faldas</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            <div class="d-flex align-items-center">
                <ul class="navbar-nav flex-row mb-0 me-3"> <li class="nav-item" *ngFor="let option of headerIcons"> 
                         <a class="nav-link" href="#" [innerHTML]="option"></a>
                     </li>
                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">buscar</button>
                </form>
            </div>

        </div>
    </nav>
</main>