
main{
    margin: 0;
    font-family: sans-serif;
    background: #ffffff;
}

h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
a{
    text-decoration: none;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.card{
    width: 18%;
    margin: 20px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 9px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(252, 252, 252, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #fffcfc;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px,-8px);
}
img{
    width: 250px;
    height: 250px;
    text-align: center;
    margin:  0 auto;
    display: block;
}
p{
    font-size: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
}


/* home.css */

.carousel-container {
    /* Define el ancho m치ximo para tu carrusel */
    max-width: 1100px; 
    margin: 40px auto; /* Centra el carrusel y le da margen superior/inferior */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra suave para que destaque */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Oculta cualquier desbordamiento de las im치genes */
    z-index: 1;
}

.carousel-img {
    /* Define una altura fija para evitar que la p치gina salte al cambiar de slide */
    height: 450px; 
    position: relative;
    /* Ajusta la imagen para que cubra el 치rea sin deformarse */
    object-fit: cover; 
}

.header{
position: relative;
z-index: 1000;
}

.footer{
    text-align: center;

    color: rgb(180, 180, 180);
}

