
<app-header></app-header>
<ng-container *ngIf= "isAdmin">
<app-newproduct (productoCreado)="onsaveRecord($event)"></app-newproduct>
</ng-container>
<main>
    <div class="gallery">

        <div class="card" *ngFor= "let product of productList">
            <img [src]="product.Photo" [alt]="product.Descripcion" width="300" height="300">
            
            <div class="card_contenido">
                <h3>{{product.name}}</h3>
                <p>{{product.Descripcion}}</p>
                <p>${{product.price}}</p>
            </div>
        </div>
</div>

</main>