<section class="login">

  <main>
    <div class="imagen">
    <img src="/recursos/logoSinFondo.png" alt="">
    </div>

    <div class="login-shell">
    
  </div>
  
        <form>
          
           <form class="row g-3">
            <div class="col-md-6">
            <label for="correo" class="form-label">Gmail</label>
            <input type="email" class="form-control"  id="correo" [(ngModel)]="loginObj.correo" name="correo" required>            </div>
          <div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="loginObj.contra" name="contra" required>          </div>
        </div>
  
        <div class="col-12">
          <button type="button"class="btn btn-dark btn-rounded-accent" (click)="onlogin()">Iniciar sesion</button>
        </div>
       
        <div class="col-121 links-group">
            <a href="">Forgot password</a>
            <span class="link-separator">|</span>
            <a routerLink="/createaccount">Create account</a>
            <span class="link-separator">|</span>   
            <a routerLink="/home" (click)="accessAsUser()" class="">Home</a>
        </div>
                      

        </form>
        </form>

  </main>
</section>

